parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/TestCase.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Call to an undefined static method#'
        - '#Undefined function#'
        - '#Undefined type#'
    reportUnmatchedIgnoredErrors: false 